{#=====================================================
  Message Edit page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h2>Edit a Message</h2>

    <form method="post" action="/message/{{ message.id }}/update">

        <label>
            Message Title
            <input type="text" name="title" required value="{{ message.title }}">
        </label>

        <label>
            Message Body
            <textarea name="body" rows="8" required>{{ message.body }}</textarea>
        </label>

        <button>Update Message</button>
    </form>

{% endblock %}

