{#=====================================================
  message page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}
post a message 

<form method="post" action="/message">
    

    <label>
        Message Title
        <input name="title" type="text" placeholder="e.g. Feed cat" required>
    </label>

    <label>
        Message Body
        <textarea name="body" placeholder="e.g. Two scoops" required></textarea>
    </label>

    
    <button>
    send message 
    </button>

</form>

    



{% endblock %}

