{#=====================================================
  Help page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

  

    

  {% if session.logged_in %}
    <p>Welcome, {{ session.user.forename }}!</p>

{% endblock %}

