{#=====================================================
  Welcome page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h1 class="welcome">Awesome Message Board 7000</h1>

    <img class="logo home-page" src="/static/images/icon.png" alt="message logo">

    <a class="button home-page" href="/messages">Read Messages</a>


{% endblock %}
